USE [master]
GO
/****** Object:  Database [Solve_Auditoria]    Script Date: 2/10/2019 11:50:50 p. m. ******/
CREATE DATABASE [Solve_Auditoria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Solve_Auditoria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Solve_Auditoria.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Solve_Auditoria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Solve_Auditoria_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Solve_Auditoria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Solve_Auditoria]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 2/10/2019 11:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[Ejecutor] [varchar](11) NULL,
	[FechaEjecucion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
